@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.centerContent {
  display : flex ;
  align-items: center;
  justify-content: center;
}
.pageMaxWidth {
  max-width: 1400px;
}


.underwtop{
  display: none;
}
.wtop:hover .underwtop{
  display: block;
}


/* fro nested dropdown en*/

.border-1 {
  border-width:  1px;
}
